body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
}

main, #story-container {
  margin: 20px;
}

.section, .step {
  margin-bottom: 40px;
}

#map {
  width: 100%;
  max-width: 800px; /* Adjust based on your preference */
  height: 500px;
  margin: auto;
}

footer p {
  color: #777;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}
