html {
  height: 100%; /* Ensures html is exactly the height of the viewport */
  overflow-y: hidden; /* Prevents html from having a scroll bar */
  scroll-behavior: smooth;
}

body {
  height: 100%; /* Matches the height of html */
  overflow-y: scroll; /* Allows body to be the main scrollable area */
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-snap-type: y mandatory;
  background: #fff;
  color: #333;
}

main, #story-container {
  overflow: hidden; /* Prevents these from becoming independently scrollable */
}

data-scroll-section{
  scroll-snap-align: start;
}

section{
  min-height: 100vh;
}

#introduction, .step {
  background: #ffffff; /* Consistent light background for readability */
  padding: 60px 10%;
  text-align: center;
}

.step h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #d82e2e; /* Accent color */
}

.step p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
}

/* Map and visualization styling */
#map {
  width: 100%;
  max-width: 800px;
  height: 500px;
  margin: auto;
}

/* Footer styling */
footer p {
  color: #777;
}

/* Tooltip for visualizations */
.tooltip {
  position: absolute;
  width: 120px;
  background: white;
  border-radius: 8px;
  padding: 2px;
  font-size: 12px;
  text-align: center;
  border: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

#landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 100vh;
}

.content, .illustration {
  flex: 1; /* This gives both children equal width */
}

.counter {
  font-weight: bold;
  color: #d82e2e;
  font-size: 4rem;
}

.scroll-down {
  font-size: 2rem;
}

.illustration img {
  width: 80%;
  height: auto;
  float: right;
}

.chart-section {
  display: flex;
  justify-content: space-between;
}

.chart-text {
  width: 45%;
  text-align: left;
}

.chart {
  width: 45%;
  padding-right: 5%;
}

#calculator-section .form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#calculator-section .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#calculator-section .form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#calculator-section .form-group input,
#calculator-section .form-group select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#calculator-section button[type="submit"] {
  grid-column: span 2;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: white;
  background-color: #f00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#calculator-section button[type="submit"]:hover {
  background-color: #d00;
}
